################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BracPGWApi/FileContentIndex/merges
/.vs/BracPGWApi/FileContentIndex
/BracPGWApi/bin
/BracPGWApi/obj
/.vs/BracPGWApi/v17
/BracPGWApi/Logs
